#parent{
	margin-top: 0px;
}

#left-part{
	padding-left: 10px;
	background: cyan;
	float: left;
	height: auto;
	width: 310px;
}

#right-part{
	background: yellow;
	float: right;
	height: auto;
	width: 1000px;
}